{% extends "base.html" %}
{% import "_macros.html" as m %}
{% block title %}New DataMap account: {{ name }}{% endblock %}
{% block preheader %}{{ name }} is waiting for a workspace.{% endblock %}
{% block label %}New account{% endblock %}
{% block content %}
{{ m.heading("A new account is waiting for a workspace") }}
{% call m.paragraph() %}{{ m.strong(name) }} created a DataMap account. Until someone gives it a workspace and a role, it cannot use DataMap.{% endcall %}
{{ m.details([{"label": "Name", "value": name}, {"label": "Email", "value": email}, {"label": "Sign-in method", "value": sign_in_method}, {"label": "Created", "value": created_at}]) }}
{% endblock %}
{% block reason %}You received this email because your address is on DataMap's list of administrators to notify about new accounts.{% endblock %}
