{% extends "base.html" %}
{% import "_macros.html" as m %}
{% block title %}Reset your DataMap password{% endblock %}
{% block preheader %}The link is valid for 1 hour.{% endblock %}
{% block label %}Password{% endblock %}
{% block content %}
{{ m.heading("Choose a new password") }}
{% call m.paragraph() %}Hi {{ name }}, someone asked to reset the password of your DataMap account. The link below is valid for 1 hour and works once.{% endcall %}
{{ m.button("Choose a new password", link) }}
{{ m.spacer(16) }}
{% call m.note(bottom=16) %}If you didn't ask for this, ignore this email. Your password stays as it is.{% endcall %}
{{ m.link_fallback(link) }}
{% endblock %}
{% block reason %}You received this email because a password reset was requested for this address on DataMap.{% endblock %}
